<div class="grid grid-rows-[auto_1fr_auto] h-[90vh] gap-2">
  <h4 class="font-bold text-xl border-2 rounded h-max" contenteditable>
    {{ workspaceTitle }}
  </h4>

  <div
    class="bg-slate-200 w-full rounded-lg p-2 overflow-auto flex flex-col gap-3"
  >
    <app-user-message
      message="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius, quibusdam!"
    />
    <app-ai-message
      message="Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum consequatur
    dolorum quidem ipsa vel, id adipisci iure ratione dolore neque iste
    eveniet modi? Voluptatibus culpa asperiores optio, dolores exercitationem
    quaerat dicta pariatur non eaque. Quam odit fugit assumenda ipsa commodi
    quod iusto cum. Expedita nostrum dolor possimus nemo esse voluptates
    dolores neque repellat, vel laborum sunt tenetur illo unde sit earum,
    corrupti, omnis veritatis repellendus veniam perspiciatis accusantium ad
    consequatur. Assumenda consequatur cumque exercitationem illum fugiat
    praesentium optio minima a alias veniam? Fuga repudiandae ab blanditiis
    cumque odio iusto perferendis dolorem nihil optio dicta aspernatur
    dignissimos molestiae temporibus vero, nostrum reiciendis soluta
    accusantium, magni libero earum excepturi sapiente. Suscipit numquam
    consequatur, veritatis repellendus magni ratione et in, non error saepe
    distinctio rem, explicabo optio eligendi corporis excepturi? Dolorem
    deserunt odio eos eligendi quod voluptatum blanditiis illum molestiae
    animi, dignissimos veritatis, labore expedita! Quae dolor adipisci
    cupiditate nobis odit quisquam sit officia, at sint repudiandae veniam
    nostrum earum soluta omnis vero impedit similique. Sunt id officiis nam
    architecto autem deserunt perspiciatis inventore dolorum quod, ipsa
    numquam, maxime ea debitis consectetur aliquam aut delectus cupiditate!
    Omnis deserunt molestias distinctio ea voluptatibus aut officia natus
    temporibus dolores debitis at, earum voluptatum ipsa, labore porro nobis
    adipisci odit culpa suscipit illo. Maiores, asperiores alias quisquam
    suscipit ipsum consectetur cupiditate officiis id deserunt minus sint,
    recusandae iste, porro tempore delectus ea deleniti consequatur dolores
    sunt. Ea nostrum quidem animi deleniti ratione quisquam commodi, modi
    quibusdam expedita velit quaerat illum dolor sit perspiciatis aliquam
    sapiente id temporibus! Perspiciatis maxime sint aperiam quaerat ducimus
    assumenda natus? Nostrum nesciunt quia sapiente dolore quod eveniet
    molestias necessitatibus officiis ullam temporibus laudantium tempore,
    expedita enim reiciendis dicta quibusdam provident eos delectus tempora
    cumque. Nulla eos blanditiis inventore, amet eum architecto ullam error
    magnam voluptates nesciunt alias iusto est laudantium nisi optio vitae!
    Itaque totam repellat sapiente similique asperiores reiciendis sequi
    voluptatem dolor fugit omnis voluptatum quia, quis est nobis consectetur
    commodi numquam dolore atque illum ab quisquam fugiat, expedita saepe.
    Veritatis possimus, repellendus voluptatum voluptates repudiandae iste
    placeat nesciunt numquam, fuga nulla, ut sunt fugiat odio porro molestias
    alias assumenda quidem ducimus? Repellendus quos accusantium, eligendi
    fugit dignissimos deserunt laudantium neque eius quaerat! Iste cum
    eligendi alias a, doloremque eveniet nihil animi tenetur mollitia odio
    deserunt nulla corrupti cupiditate voluptatibus id quia quibusdam
    explicabo debitis? Sint libero incidunt mollitia quia laborum quae,
    asperiores accusantium! Iste dolorum dolor nulla in accusamus molestias
    aspernatur earum, adipisci voluptatum voluptatem deserunt laboriosam
    ratione, ex facilis molestiae placeat dolorem recusandae nemo eos minus
    amet natus explicabo! Eligendi laudantium expedita earum quas deleniti
    similique neque vitae temporibus nihil harum, voluptas vel eius aspernatur
    possimus asperiores dolorum magni consectetur nesciunt placeat iure ipsum
    eos maxime omnis praesentium. Expedita dolore consequatur quae atque et
    voluptatem? Ratione, quisquam! Accusantium dolorem doloribus aut amet,
    sint excepturi doloremque iure error odit facilis nihil ullam, adipisci
    temporibus suscipit quidem nulla assumenda perferendis soluta consequuntur
    hic delectus deserunt mollitia vitae. Eligendi numquam, quibusdam possimus
    eaque sed eum, quia aut consectetur quos, doloremque aliquam."
    />
  </div>

  <div class="bg-slate-200 py-2 rounded-t h-max">
    <app-chat-controls />
  </div>
</div>
