<div class="grid grid-rows-[auto_1fr_auto] h-[90vh] gap-2">
  <h4 class="font-bold text-xl border-2 rounded h-max" contenteditable>
    {{ workspaceTitle }}
  </h4>

  <div
    class="bg-slate-200 w-full rounded-lg p-2 overflow-auto flex flex-col gap-3"
  >
    @for (chat of chats; track $index) { @if(chat.entity == AI_ENTITY) {
    <app-ai-message [message]="chat.message" />
    }@else if (chat.entity == USER_ENTITY) {
    <app-user-message [message]="chat.message" /> } }
  </div>

  <div class="bg-slate-200 py-2 rounded-t h-max">
    <app-chat-controls (sendQueryEvent)="onSendQuery($event)" />
  </div>
</div>
