<div>
  <h4 class="font-bold text-xl border-2 rounded" contenteditable>
    Click to edit workspace title
  </h4>

  <div class="bg-slate-200 w-[100px] h-[100px]"></div>

  <div class="bg-slate-300 py-2 rounded-t mt-2">
    <div
      class="flex items-center justify-between bg-slate-100 mx-auto w-[80%] rounded-sm p-1"
    >
      <input
        hlmInput
        placeholder="Query...."
        size="sm"
        class="rounded focus-visible:ring-0 focus-visible:ring-offset-0 w-full border-none"
      />
      <button
        class="rounded-full grid place-content-center p-1 bg-primary text-primary-foreground"
      >
        <i-feather name="send" />
      </button>
    </div>
  </div>
</div>
