<div class="pt-2 px-4 grid grid-cols-[auto_1fr] gap-4">
  <div class="w-[250px] shadow-md p-4 rounded-lg h-[80vh]">
    <div class="flex justify-between">
      <hlm-skeleton class="h-[20px] w-[50%] rounded" />
      <hlm-skeleton class="h-[20px] w-[10%] rounded" />
    </div>
    <div class="mt-6 flex flex-col gap-3">
      <div class="flex justify-between">
        <hlm-skeleton class="h-[15px] w-[60%] rounded" />
        <hlm-skeleton class="h-[15px] w-[10%] rounded" />
      </div>
      <div class="flex justify-between">
        <hlm-skeleton class="h-[15px] w-[60%] rounded" />
        <hlm-skeleton class="h-[15px] w-[10%] rounded" />
      </div>
      <div class="flex justify-between">
        <hlm-skeleton class="h-[15px] w-[60%] rounded" />
        <hlm-skeleton class="h-[15px] w-[10%] rounded" />
      </div>
      <div class="flex justify-between">
        <hlm-skeleton class="h-[15px] w-[60%] rounded" />
        <hlm-skeleton class="h-[15px] w-[10%] rounded" />
      </div>
    </div>
  </div>

  <div class="grid grid-rows-[auto_1fr_auto] h-[90vh] gap-2">
    <hlm-skeleton class="w-[70%] h-[30px]" />
    <hlm-skeleton
      class="w-full rounded-lg p-2 overflow-auto flex flex-col gap-3"
    />
    <hlm-skeleton class="py-2 rounded h-[40px]" />
  </div>
</div>
