<aside
  class="w-[250px] shadow-md p-4 rounded-lg h-[80vh] grid grid-rows-[1fr_auto] items-start"
>
  <div class="flex items-center justify-between">
    <h6 class="font-bold text-lg">Sources</h6>
  </div>
  @if(uploadErrorOccured && uploadError) {
  <p
    class="text-xs text-destructive-foreground bg-destructive rounded py-1 px-4 transition-all"
  >
    {{ uploadError }}
  </p>
  }

  <div class="mt-3 w-[98%] h-full flex flex-col gap-4 overflow-scroll">
    @for(pending of pendingUploads; track $index) {
    <div class="flex items-center gap-2">
      <i-feather name="upload" class="animate-pulse *:stroke-muted" />
      <p class="truncate text-sm text-muted-foreground w-[80%]">
        {{ pending }}
      </p>
    </div>
    } @for (source of sources; track source.id) {
    <app-source [name]="source.name" [checked]="false" />
    }
  </div>
</aside>
