<div class="grid place-content-center gap-10 mt-4">
  <div
    class="bg-zinc-400 w-[300px] h-[100px] mx-auto flex items-center justify-center"
  >
    <h3>Logo Here</h3>
  </div>

  <h6>
    An <span class="font-semibold">AI Powered assistant</span> to help students
    study and prepare for tests
  </h6>

  <div class="flex flex-col mx-auto items-center justify-center w-max">
    <svg
      width="98"
      height="98"
      viewBox="0 0 98 98"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M85.75 61.25V77.5833C85.75 79.7493 84.8896 81.8265 83.358 83.358C81.8265 84.8896 79.7493 85.75 77.5833 85.75H20.4167C18.2507 85.75 16.1735 84.8896 14.642 83.358C13.1104 81.8265 12.25 79.7493 12.25 77.5833V61.25"
        stroke="black"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M69.4167 32.6667L49 12.25L28.5834 32.6667"
        stroke="black"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M49 12.25V61.25"
        stroke="black"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>

    <p class="w-[30ch] text-center">
      Upload your documents and StudAI will help answer all questions and help
      you prepare ;-{{ ")" }}
    </p>
  </div>

  <div class="mx-auto flex items-center flex-col gap-3">
    <p>What are you waiting for?</p>
    <button class="rounded-full" hlmBtn (click)="onCreateWorkspaceClicked()">
      Create a workspace
    </button>
  </div>

  @if(creatingWorkspace) {
  <div class="w-max" hlmAlert>
    <i-feather name="clock" hlmAlertIcon class="animate-spin" />
    <h4 hlmAlertTitle>Creating workspace</h4>
    <p hlmAlertDescription>Please wait...</p>
  </div>
  } @if(errorOccurred) {
  <div class="w-max" variant="destructive" hlmAlert>
    <i-feather name="alert-triangle" class="*:stroke-red-600" hlmAlertIcon />
    <h4 hlmAlertTitle>Failed to create workspace</h4>
    <p class="max-w-[30ch] text-justify" hlmAlertDescription>{{ error }}</p>
  </div>
  } @if(workspaceId) {
  <div class="w-max text-green-500" hlmAlert>
    <i-feather name="check-circle" class="*:stroke-green-500" hlmAlertIcon />
    <h4 hlmAlertTitle>Successfully created workspace</h4>
    <p class="max-w-[30ch] text-justify" hlmAlertDescription>
      Page will redirect soon...
    </p>
  </div>
  }
</div>
